.racer_table td {
  background-color: none;
  height: 200px;
  width: 200px;

}

.racer_table td.active1 {
  background-image: url("porsche.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.racer_table td.active2 {
  background-image: url("horse.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}