body {
	/*to make the body background center and not repeat*/
	background-image: url("speed-landing.jpe");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

}
.horse {
	position: fixed;
  	top: 70%;
  	left: 40%;
  	margin-top: -30px;
  	margin-left: -100px;

}
/*make the start button center */
.button {
  	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    position: fixed;
  	top: 60%;
  	left: 50%;
  	margin-top: -40px;
  	margin-left: -100px;
}
/*make the button shake when you hover on it */
.button:hover {

  background: red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}